---
BasedOnStyle: Google
ColumnLimit: 150
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
ReflowComments: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false

BinPackArguments: false
BinPackParameters: OnePerLine
AlignAfterOpenBracket: true
MaxEmptyLinesToKeep: 1

IndentWidth: 3
ContinuationIndentWidth: 3
